<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c7cc4e84ef.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---          Barra           -->
    <div class="row">
        <div class="col barra centered">
            <img class="img-fluid" src="images/logo.png">
        </div>
    </div>
    <div class="container mt-5 bg">
        <div class="row mt-lg-5">
            <div class="col">
                <img class="centered img-fluid" src="images/mimi.png" width="400px">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="centered" style="font-size: 45px; color: cadetblue;">POKEMON DOESN'T EXIST! PLEASE RETRY.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <input value="Go back" type="button"class="btn centered" style="background-color: #ffc648; color: white; font-size: 30px;" onclick="history.back(-1)" />
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>